:root {
  /* Colors */
  --black: #121416;
  --white: #f2f2f2;
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: "NeuethingSans-Black";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../assets/fonts/NeuethingSans-BlackSemiExpanded.woff2")
      format("woff2"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../assets/fonts/NeuethingSans-BlackSemiExpanded.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "NeuethingSans-Bold";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../assets/fonts/NeuethingSans-Bold.woff2") format("woff2"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../assets/fonts/NeuethingSans-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "NeuethingSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../assets/fonts/NeuethingSans-Regular.woff2") format("woff2"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("../assets/fonts/NeuethingSans-Regular.woff") format("woff");
}

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
  color: var(--black);
  background-color: var(--white);
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: "NeuethingSans-Black", sans-serif;
  font-size: clamp(1.5rem, 1.3885rem + 0.5096vw, 2rem);
  line-height: 124%;
  text-transform: uppercase;
  text-wrap: balance;
  color: var(--black);
}

p {
  font-family: "NeuethingSans-Regular", sans-serif;
  font-size: clamp(1.125rem, 1.1217rem + 0.107vw, 1.25rem);
  line-height: 160%;
  text-wrap: pretty; /* Prevents orphans on lines */
  color: var(--black);
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Buttons */
.primary-button {
  font-family: "NeuethingSans-Bold", sans-serif;
  font-size: clamp(1.125rem, 1.1217rem + 0.107vw, 1.25rem);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--black);
  padding: 1.25rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 4rem;
}

.pb-icon path {
  fill: var(--white);
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}

.full-logo {
  max-width: 30rem;
}
.copyright {
  font-size: 1rem;
}
