/* Fontface */
@font-face {
  font-family: "JustSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/assets/fonts/JUST-Sans-Regular.woff2") format("woff2"),
    url("/assets/fonts/JUST-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "JustSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("/assets/fonts/JUST-Sans-Bold.woff2") format("woff2"),
    url("/assets/fonts/JUST-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "JustSans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""), url("/assets/fonts/JUST-Sans-ExBold.woff2") format("woff2"),
    url("/assets/fonts/JUST-Sans-ExBold.woff") format("woff");
}

:root {
  /* Color Variables */
  --primary: #196273;
  --headings: #191919;
  --body-copy: #474747;
  --button-text: #fefefe;
  --bg-1: #f6f3ee;
  --bg-2: #f6f3ee;
  --bg-3: #307281;
  --card-bg: #fefefe;
  --services-bg: #196273;
  --footer-bg: #196273;
  --footer-header: #fefefe;
  --footer-copy: #e4e4e4;
  --border-color: #19191910;
  --lines: #fefefe;
  --form-input: #5e5e5e15;
  --form-placeholder: #19191975;
  --steps-number: #fefefe;
  --gold: #fbe23c;
  --select-hover-bg: #19191910;
  --gradient-bg: linear-gradient(
    to bottom,
    #f6f3ee 0%,
    rgba(246, 243, 238, 0.85) 50%,
    #f6f3ee 100%
  );

  /* Hover Color Variables */
  --headings-hover: #fefefe;
  --body-copy-hover: #e4e4e4;

  /* Space & Size Variables */
  --section-padding: clamp(6rem, 5.2174rem + 3.4783vw, 8rem) 1rem;
  --border-radius: 0.5rem;

  /* Utility Variables */
  --transition: 175ms ease-in-out;

  color-scheme: light;
  background-color: var(--bg-1);
  color: var(--body-copy);
}

/* Dark Mode Content */
&:has(#color-scheme option[value="dark"]:checked) {
  color-scheme: dark;
  /* Color Variables */
  --primary: #d0f54e;
  --headings: #fefefe;
  --body-copy: #e4e4e4;
  --button-text: #191919;
  --bg-1: #191919;
  --bg-2: #303030;
  --bg-3: #191919;
  --card-bg: #474747;
  --services-bg: #303030;
  --footer-bg: #191919;
  --footer-header: #fefefe;
  --footer-copy: #e4e4e4;
  --border-color: #fefefe10;
  --lines: #191919;
  --form-input: #5e5e5e;
  --form-placeholder: #fefefe75;
  --steps-number: var(--primary);
  --select-hover-bg: #303030;
  --gradient-bg: linear-gradient(
    to bottom,
    #191919 0%,
    rgba(25, 25, 25, 0.85) 50%,
    #191919 100%
  );

  /* Hover Color Variables */
  --headings-hover: #191919;
  --body-copy-hover: #474747;
}

@media (prefers-color-scheme: dark) {
  &:has(#color-scheme option[value="system"]:checked) {
    /* Color Variables */
    --primary: #d0f54e;
    --headings: #fefefe;
    --body-copy: #e4e4e4;
    --button-text: #191919;
    --bg-1: #191919;
    --bg-2: #303030;
    --bg-3: #191919;
    --card-bg: #474747;
    --services-bg: #303030;
    --footer-bg: #191919;
    --footer-header: #fefefe;
    --footer-copy: #e4e4e4;
    --border-color: #fefefe10;
    --lines: #191919;
    --form-input: #5e5e5e;
    --form-placeholder: #fefefe75;
    --steps-number: var(--primary);
    --gradient-bg: linear-gradient(
      to bottom,
      #191919 0%,
      rgba(25, 25, 25, 0.85) 50%,
      #191919 100%
    );

    /* Hover Color Variables */
    --headings-hover: #191919;
    --body-copy-hover: #474747;
  }
}

/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark; /* Default light */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  font-family: "JustSans", system-ui, sans-serif;
  min-height: 100vh;
  background-color: var(--bg-1);
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings);
  text-wrap: balance;
  line-height: 1.2em;
}

h1,
h2 {
  font-weight: 900;
  line-height: 1.2em;
  text-transform: capitalize;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: clamp(2.5rem, 1.3261rem + 5.2174vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 1.6087rem + 1.7391vw, 3rem);
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2em;
}

/* Highlight Text */
.primary-text-highlight {
  color: var(--primary);
}

p,
span,
ul,
li,
ol,
.cs-text {
  line-height: 1.6em;
  text-wrap: pretty;
}

p a {
  text-decoration: underline;
  color: var(--primary);
}

.cs-topper {
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.subheading {
  color: var(--body-copy);
  font-size: clamp(1.13rem, 0.8998rem + 0.3891vw, 1.25rem);
  font-weight: 400;
  line-height: 1.6;
}

/* Buttons */
.cs-button-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 12rem;
  font-size: 1rem;
  line-height: 2em;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  color: var(--button-text);
  padding: 0.75rem 1.5rem;
  background-color: var(--primary);
  border-radius: 4rem;
  border: 2px solid var(--primary);
  z-index: 1;
  /* transition: all var(--transition); */
}

.cs-button-solid svg {
  fill: currentColor;
  transition: all var(--transition);
}

.text-only-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 2em;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
  z-index: 1;
}

.text-only-btn svg {
  fill: currentColor;
  transition: all var(--transition);
}

/* Button hover on hover capable devices */
@media (hover: hover) {
  .cs-button-solid:hover svg,
  .text-only-btn:hover svg {
    transform: translateX(0.5rem);
  }
}

/* Icons */
.lbw-icon {
  fill: var(--primary);
}

/* Scroll Behavior */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Form Honeypot */
.hidden {
  display: none;
}

/* Theme Picker  */
#theme-picker {
  font-size: 0.75rem;
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

#theme-picker select,
::picker(select) {
  appearance: base-select;
}

#theme-picker select {
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  min-width: 9rem;
}

#theme-picker select:hover,
#theme-picker select:focus {
}

#theme-picker select::picker-icon {
  color: var(--headings);
  transition: 0.3s rotate;
}

#theme-picker select:open {
  border-radius: 0.5rem 0.5rem 0 0;
}

#theme-picker select:open::picker-icon {
  rotate: 180deg;
}

#theme-picker ::picker(select) {
  border: none;
}

#theme-picker option {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  transition: 0.3s;
  background: var(--card-bg);
}

#theme-picker option:first-of-type {
  border: none;
}

#theme-picker option:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}

#theme-picker option:not(option:last-of-type) {
  border-bottom: none;
}

#theme-picker option:nth-of-type(odd) {
}

#theme-picker option:hover,
#theme-picker option:focus {
  background: var(--select-hover-bg);
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Skip to main content */
.skip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1111111;
}

#cs-navigation {
  background-color: var(--bg-1);
  border-bottom: 1px solid var(--border-color);
}

#cs-navigation .cs-logo svg {
  fill: var(--headings);
}

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }

  #cs-navigation {
    width: 100%;
    padding: 0 0 0.5rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation.cs-active .cs-ul-wrapper {
    transform: scaleY(1);
  }

  #cs-navigation.cs-active .cs-li {
    transform: translateY(0);
    opacity: 1;
  }

  #cs-navigation .cs-container {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #cs-navigation .cs-logo {
    width: 100%;
    max-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-sizing: border-box;
  }

  #cs-navigation .cs-logo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 0;
  }

  #cs-navigation .cs-toggle {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 auto;
    border-radius: 50%;
    background-color: var(--primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }

  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }

  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }

  #cs-navigation .cs-box {
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }

  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: var(--lines);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }

  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }

  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: 100vh;
    padding-bottom: 2.4em;
    background-color: var(--bg-1);
    border-top: 1px solid var(--border-color);
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  #cs-navigation .cs-ul {
    margin: 0;
    padding: 3rem 1rem;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.25rem;
  }

  #cs-navigation .cs-li {
    list-style: none;
    margin-right: 0;
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.9s ease;
  }

  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }

  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }

  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }

  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }

  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }

  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }

  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }

  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }

  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }

  #cs-navigation .cs-li-link {
    font-size: 1.5rem;
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headings);
    display: inline-block;
    position: relative;
  }

  /* Active state underline */
  #cs-navigation .cs-li-link:before {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }

  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    z-index: 10000;
  }

  #cs-navigation .cs-container {
    padding-inline: 1rem;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  #cs-navigation .cs-toggle {
    display: none;
  }

  #cs-navigation .cs-logo {
    max-width: 12rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    flex: none;
  }

  #cs-navigation .cs-li-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--body-copy);
    display: block;
    position: relative;
  }

  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }

  #cs-navigation .cs-li-link:before {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.25rem;
    left: 0;
    transition: width var(--transition);
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

#cs-footer-269 {
  color: var(--footer-copy);
  background-color: var(--footer-bg);
  padding: 6rem 1rem 2rem 1rem;
  overflow-x: hidden;
}

#cs-footer-269 .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  padding-top: 2rem;
  border-top: 1px solid #fefefe10;
}

.terms {
  display: flex;
  gap: 0.5rem;
}

.terms a {
  text-decoration: none;
  color: currentColor;
}

.divider {
  width: 1px;
  height: 0.875rem;
  margin-top: 0.1rem;
  background-color: currentColor;
}

.footer-wrapper {
  display: flex;
  gap: 4rem;
}

.cs-nav .cs-nav-li,
.cs-contact .cs-contact-li {
  margin-bottom: 0.5rem;
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-269 .cs-container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  #cs-footer-269 .cs-logo-group {
    width: 100%;
    position: relative;
  }

  #cs-footer-269 .cs-logo {
    width: 12rem;
    height: auto;
    display: block;
    margin-bottom: 3rem;
    margin-inline: auto;
  }

  #cs-footer-269 .cs-logo-img {
    width: 100%;
    height: auto;
  }

  #cs-footer-269 .cs-nav {
    padding: 0;
    margin: 0 0 2rem 0;
  }

  #cs-footer-269 .cs-nav-li {
    list-style: none;
    line-height: 1.5em;
  }

  #cs-footer-269 .cs-header {
    color: var(--footer-header);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    position: relative;
    display: block;
  }

  #cs-footer-269 .cs-nav-link {
    color: var(--footer-copy);
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    position: relative;
  }

  #cs-footer-269 .cs-contact {
    margin: 0;
    padding: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  #cs-footer-269 .cs-contact-li {
    list-style: none;
  }

  #cs-footer-269 .cs-contact-li:last-of-type {
    margin-bottom: 0;
  }

  #cs-footer-269 .cs-contact-link {
    color: var(--footer-copy);
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  #cs-footer-269 .cs-contact-link svg {
    width: 1.25rem;
    height: 1.25rem;
    stroke: currentColor;
  }

  #cs-footer-269 .footer-bottom {
    flex-direction: column;
    gap: 0.5rem;
  }

  #cs-footer-269 .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-269 .cs-container {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
  }

  #cs-footer-269 .cs-logo-group {
    width: auto;
    margin-right: auto;
  }

  #cs-footer-269 .footer-bottom {
    flex-direction: row;
  }

  #cs-footer-269 .footer-wrapper {
    margin-inline: 0;
  }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1695 {
    padding: var(--section-padding);
    position: relative;
    z-index: 1;
  }

  #contact-1695 .cs-container {
    width: 100%;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-inline: auto;
  }

  #contact-1695 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  #contact-1695 .cs-topper {
    color: var(--primary);
    margin-bottom: 0;
  }

  #contact-1695 .cs-title {
    font-size: clamp(2.5rem, 1.3261rem + 5.2174vw, 5rem);
    color: var(--headings);
  }

  #contact-1695 .subheading {
    margin-bottom: 2rem;
  }

  #contact-1695 .cs-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }

  #contact-1695 .cs-li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  #contact-1695 .cs-li:hover .cs-icon-wrapper {
    transform: scale(1.1);
  }

  #contact-1695 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--primary);
    display: block;
  }

  #contact-1695 .cs-icon-wrapper {
    width: 4rem;
    height: 4rem;
    margin: 0;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform var(--transition);
  }

  #contact-1695 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
    stroke: var(--primary);
  }

  #contact-1695 .cs-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    gap: 1.25rem;
  }

  #contact-1695 .cs-label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--headings);
    width: 100%;
  }

  #contact-1695 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headings);
    background-color: var(--form-input);
    border: none;
    border-radius: 0.25rem;
  }

  #contact-1695 .cs-input::placeholder {
    color: var(--form-placeholder);
  }

  #contact-1695 .cs-textarea {
    font-family: inherit;
    min-height: 7.5rem;
    margin: 0;
    padding-top: 1.5rem;
    resize: none;
  }

  #contact-1695 .cs-submit {
    width: 100%;
    max-width: fit-content;
    margin-top: 1.25rem;
    margin-inline: auto;
  }

  #contact-1695 .cs-submit:hover {
    background-color: var(--primary);
    color: var(--button-text);
    cursor: pointer;
  }

  #contact-1695 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #contact-1695 .cs-background::before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--gradient-bg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #contact-1695 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
  #contact-1695 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    gap: 4rem;
  }

  #contact-1695 .cs-form {
    padding: 3rem 2rem;
  }
}
